// Override default variables before the import
// NOTE: Will do a LHS lookup but not RHS

// ===== VARIABLES

// COLORS 

// Triadic
$mediumred: #961120;
$yellow: #E3DB19;
$brightred: #E3021C;
$skyblue: #19A1E3;
$blue: #096996;

// Monochromatic
$darkred: #63010C;
$lightred: #E8485A;
$maroon: #631F27;
$ketchup: #B00216;

$gray: #282c34;

// Color adjustments
$dk-sky: darken($skyblue, 5%);
$lt-gray: lighten($gray, 55%);
$dk-gray: darken($gray, 10%);

$lt-brightred: lighten($brightred, 10%);

$dk-yellow: darken($yellow, 20%);
$lt-yellow: lighten($yellow, 40%);

// ===== ELEMENTS

// BODY
$body-bg: $gray;
// $body-bg: #fff;
// $body-bg: linear-gradient(180deg, #000 0%, #fff 100%);
// $body-bg: linear-gradient(red, yellow);

// Type
$body-color: $lt-gray;
// $pink: pink;

$link-color: $skyblue;
$link-hover-color: $lightred !default;

.active {
    color: $yellow;
  }

// NAVBAR
// nav.navbar {
//   background-color: green;
// }

// .navbar-light .navbar-toggler {
//   color: red !important;
//   border-color: blue !important;
// }

// .navbar-brand {
//   color: white !important;
//   // &.active {
//   //   color: $yellow;
//   // }
//   &:hover {
//     color:$yellow;
//   }
// }
div.mr-auto {
  padding-left: 1rem;
  // text-align: center;
}

.navbar-light .navbar-toggler {
  border-color: $gray !important;
}

div.mr-auto, .mx-auto, .navbar-collapse {
  margin-right: 4.8rem !important;
  justify-content: center;
}

a.nav-link, .navbar-brand {
  color: $lt-gray !important;
  &.active {
    color: white !important;
  }
  &:hover {
    color: black !important;
  }
}
// // same thing just in css
// a.nav-link.active {
//   color: white !important;
// }

// a.nav-link:hover {
//   color: black !important;
// }


// .navbar-nav .nav-link {
//   color: blue !important;
//   :active {
//     color: white !important;
//   }
// }
// .navbar-light .navbar-nav .nav-link {
//   color: orange !important;
//   a:active {
//     color: pink;
//   }
// }

// .navbar-nav a.nav-link {
//   color:  !important;
// }

// a.nav-link {
//   color: $yellow;
// }


// ===== SECTIONS

// NOTE: Maybe limit width on lg containers

.section {
  padding-top: 6rem;
  // padding-bottom: 6rem;
}

.heading {
  padding-top: 1rem;
}

.footer {
  background-color: $dk-gray;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tinytype {
  font-size: .128rem;
  padding-top: .8rem;
}

.vendors {
  // height: 6rem;
  width: 8rem;
  padding: .125rem;
}


// ===== FORMS
form {
  text-align: left !important;
}
.form-label {
  padding-top: .5rem;
}



// // working archive
// spacer.spacer {
//   margin-bottom: 12rem;
// }

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
// .brand {
//   display: none;
// }
// @include media-breakpoint-up(sm) {
//   .brand {
//     display: block;
//   }
// }

// $theme-colors: (
//     "info": tomato,
//     "danger": teal
// );

// ===== REACT PLAYER


// ===== BOOTSTRAP IMPORT AT END
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

iframe.instagram-embed {
  max-width: auto !important;
  margin-right: 0px !important;
}





/* import bootstrap to set changes at END? */
@import "~bootstrap/scss/bootstrap";
