// Override default variables before the import
// NOTE: Will do a LHS lookup but not RHS

// ===== VARIABLES

// COLORS 
// NOTE: These are test colors

// Triadic
$mediumred: #961120;
$yellow: #E3DB19;
$brightred: #E3021C;
$skyblue: #19A1E3;
$blue: #096996;

// Monochromatic
$darkred: #63010C;
$lightred: #E8485A;
$maroon: #631F27;
$ketchup: #B00216;
$gray: #282c34;

// Color adjustments
$dk-sky: darken($skyblue, 5%);
$lt-gray: lighten($gray, 55%);
$dk-gray: darken($gray, 10%);
$lt-brightred: lighten($brightred, 10%);
$dk-yellow: darken($yellow, 20%);
$lt-yellow: lighten($yellow, 40%);

// ===== BODY
// Background
$body-bg: #000;

body {
  text-align: center !important;
}

// ===== Type
// Type
$body-color: $lt-gray;
$link-color: $mediumred;
$link-hover-color: $lightred !default;
.active {
    color: white;
  }

// ===== VDO
// .App-header {
//   position: fixed;
// }

// ===== NAVBAR
// LAYOUT
// Dropdown
// Adds visual spacing to centered nav items
div.mr-auto, .mx-auto, .navbar-collapse {
  // margin-right: 4.8rem !important;
  justify-content: center;
}

// Aligns nav items 
div.mr-auto {
  // margin-right: 0rem !important;
  justify-content: flex-end;
  text-align: right;
  // padding-top: 5%;
  right: 0;
}

// Background
div.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 1;
  // copy to footer
}

nav.navbar.bg-dark {
  // background-color: #000 !important;
  position: relative !important;
  background-color: transparent !important;
  // border-bottom: 1px solid $gray;
}

// COLOR
// Links
a.nav-link, .navbar-brand {
  color: $gray !important;
  &.active {
    color: $lt-gray !important;
  }
  &:hover {
    color: $gray !important;
  }
}

// Hamburger
.navbar-light .navbar-toggler {
  // border-color: $gray !important;
  background-color: transparentize(#000, .9);
}



// ===== SECTIONS

// NOTE: Maybe limit width on lg containers

.section {
  padding-top: 6rem;
  // padding-bottom: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.heading {
  padding-top: 1rem;
}

.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;

  font-size: .128rem;
  color: $gray;
  padding-top: .8rem;
}

// .tinytype {
//   font-size: .128rem;
//   padding-top: .8rem;
// }

.vendors {
  // height: 6rem;
  width: 8rem;
  padding: .125rem;
}


// ===== FORMS
form {
  text-align: left !important;
}
.form-label {
  padding-top: .5rem;
}



// // working archive
// spacer.spacer {
//   margin-bottom: 12rem;
// }

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
// .brand {
//   display: none;
// }
// @include media-breakpoint-up(sm) {
//   .brand {
//     display: block;
//   }
// }

// $theme-colors: (
//     "info": tomato,
//     "danger": teal
// );

// ===== REACT PLAYER


// ===== BOOTSTRAP IMPORT AT END
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.player-wrapper-soundcloud {
  position: relative;
  // padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

iframe.instagram-embed {
  max-width: auto !important;
  margin-right: 0px !important;
}





/* import bootstrap to set changes at END? */
@import "~bootstrap/scss/bootstrap";
